# Global gitignore for the article repository
# This settings are the same for all the users
# For additional cusomization the local gitignore
# (.git/info/exclude) may be modified

# Pdf output
*.pdf
!img/py/*.pdf

# recovery files
*~

# pdflatex auxiliary files:
*.aux
*.toc
*.ilg
*.fls
*.ind
*.log
*.out
*.spl
*.idx
*.lof
*.lot

# bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*-blx.bib

# build auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex*
*.run.xml
*.DS_Store

# Tikz auxiliry files
*.auxlock
*.figlist
*.dpth
*.md5

# files that are not latex
*.doc
*.docx
*.xls
*.xlsx

# visual studio aux folder
.vs
